# LiveKit API Configuration
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Public configuration
NEXT_PUBLIC_LIVEKIT_URL=

# Application Configuration
NEXT_PUBLIC_APP_CONFIG="
title: 'Reveri Agents Playground'
# description: 'A virtual workbench for your multimodal AI agents.'
# github_link: 'https://github.com/livekit/agents-playground'
video_fit: 'cover' # 'contain' or 'cover'
settings:
  editable: true # Should the user be able to edit settings in-app
  theme_color: 'violet'
  chat: true  # Enable or disable chat feature
  outputs:
    audio: true # Enable or disable audio output
    video: false # Enable or disable video output
  inputs:
    mic: true    # Enable or disable microphone input
    camera: false # Enable or disable camera input
    sip: false    # Enable or disable SIP input
"
