# LiveKit API Configuration
LIVEKIT_API_KEY=vault:LIVEKIT_SERVER_KEY
LIVEKIT_API_SECRET=vault:LIVEKIT_SERVER_SECRET

# Public configuration
NEXT_PUBLIC_LIVEKIT_URL=wss://csa-livekit-server.csa.svc.cluster.local

# Application Configuration
NEXT_PUBLIC_APP_CONFIG="
title: 'LiveKit Agent Playground'
description: 'LiveKit Agent Playground allows you to test your LiveKit Agent integration by connecting to your LiveKit Cloud or self-hosted instance.'
github_link: 'https://github.com/livekit/agents-playground'
video_fit: 'cover' # 'contain' or 'cover'
settings:
  editable: true # Should the user be able to edit settings in-app
  theme_color: 'cyan'
  chat: true  # Enable or disable chat feature
  outputs:
    audio: true # Enable or disable audio output
    video: true # Enable or disable video output
  inputs:
    mic: true    # Enable or disable microphone input
    camera: true # Enable or disable camera input
    sip: true    # Enable or disable SIP input
"

# Custom ENVs
NEXT_PUBLIC_AGENT_NAMES="debt-collection"
NEXT_PUBLIC_DEFAULT_METADATA='
{
    "customer_data": {
        "today": "07/03/2025",
        "gender": "Anh",
        "due_date": "07/03/2025",
        "due_time": "11:00",
        "debt_left": 1000000,
        "voice_type": "femalenorth-01",
        "phone_number": "+84000000000",
        "customer_name": "Nguyễn A",
        "disburse_date": "07/03/2025",
        "interest_rate": 0.7,
        "product_group": "Loan",
        "app_onboarding": true,
        "payment_amount": 1000000,
        "payment_method": "Card",
        "customer_first_name": "A"
    },
    "scenario_id": "pre-due"
}
'